<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Restaurant Guide</title>
  </head>
  <body>

    <h1>Restaurant Guide</h1>

    <nav>
      <a href="/">Home</a>
      <a href="/users/login">Login/register</a>
      <a href="/restaurants/mypage">My Page</a>
    </nav>
    {{#if loggedIn}}
      <p>Logged in as {{username}}</p>

      <form action="/users/logout" method="post">
        <input type="submit" value="Logout" />
      </form>
    {{/if}}

    {{{body}}}

  </body>
</html>