<div class="form-container">
  <div class="form-box">
    <div class="button-box">
      <div id="btn"></div>
      <button type="button" class="toggle-btn" onclick="login()">Login</button>
      <button
        type="button"
        class="toggle-btn"
        onclick="register()"
      >Register</button>
    </div>
    <div class="social-icons">
      <p>Login/register with google</p>
      <a href="/users/google">
        <img src="/images/google-icon.png" alt="google-icon" />
      </a>
      <p>or with</p>
    </div>
    <form id="login" class="input-group" action="/users/login" method="post">
      <input
        class="input-field"
        type="text"
        name="username"
        placeholder="Username"
      />
      <input
        class="input-field"
        type="password"
        name="password"
        placeholder="Password"
      />
      <input class="submit-btn" type="submit" value="Login" />
    </form>
    <form
      id="register"
      class="input-group"
      action="/users/register"
      method="post"
    >
      <input
        class="input-field"
        type="text"
        name="username"
        placeholder="Username"
      />
      <input
        class="input-field"
        type="password"
        name="password"
        placeholder="Password"
      />
      <input
        class="input-field"
        type="password"
        name="confirmPassword"
        placeholder="Confirm Password"
      />
      <input class="submit-btn" type="submit" value="Register" />
    </form>
  </div>
</div>

<script src="/main.js" type="text/javascript"></script>